<%-include('header');-%>

<div class="content">
  <h1 id="name">HW Store</h1>
  <h1 id="address">Knowledge Village</h1>
  <h1 id="phone">+971 50 1635421</h1>
  <h1 id="email">hwu@hw.ac.uk</h1>
</div>

<%-include('footer');-%>
